# Objectives


* **Introduction to Python**<br><br>

* **Hands-on**
 * Syntax
 * variables
 * Data Types
 * Operators<br><br>

* **Future Topics**<br><br>

* **Helpful hints & resources**

# Introduction
* Developed in early 90â€™s by **Guido Van Rossum**

### What is Python
* General purpose, 
 * *High Level*
 * *Structured*
 * *Interpreted*
 * *Object-oriented Language*

* Simple, Portable, Open source & Powerful

### Ways to run Python
* Interactive Interpreter (Classic command line interpreter or Python Shell) - Run as a calculator or used to run a python program
* Script from command line - Used to run a python program
* General purpose Integrated Development Environment (IDE) - Eclipse, Netbeans, etc
* Python dedicated IDEs like Pycharm, Spyder, IDLE
* Web-based interactive computational environment like Jupyter Notebooks, Google Colaboratory, etc

# Variables and Data Types

### Variables
* Stores a piece of data and gives it a specific name
* Do not need to specify data type (No Declaration needed)
* Equal sign **( = )** is used to assign values to variables

In [1]:
v = 98

**' v '** is the variable name
<br>
**' = '** is the assignment operator
<br>
**98** is the value

#### Variable names
* No spaces allowed (Use underscore or init caps, example - 'my_name' or 'myName')
* No special symbols or characters like '"@#%^&()-/\* except the underscore '_'
* Cannot begin with a number but may have a number within the variable name
* The python community by convention begin variable names with small letters but caps are allowed anywhere else

In [2]:
my_name = 'John Smith'
v_1 = 8
v_2 = 9

#### Using a variable
To use a variable, just type out the variable name. 
<br>
See examples below

In [3]:
print(my_name)

John Smith

In [4]:
age = v_1 + v_2

In [5]:
print ('I am', age, 'years old')

I am 17 years old

**<h5><center>Note</center></h5>**


**'print'** is a function that displays its arguments (inputs). It can take multiple arguments (inputs) separated by commas '**,**'.
<br>
We will introduce **functions** into more details later

### Data types
Data Types are implied. They do not have to be declared
* Numeric types - int,float,complex
* Boolean - True, False
* String
* List
* Tuple
* Dictionary
* Set

# Math Operators

In [6]:
2+3

5

In [7]:
9-3

6

In [8]:
3*8

24

In [9]:
3/2

1.5

In [10]:
9%5

4

In [11]:
3//2

1

In [12]:
2**3

8

# Comments
* Single line commenting symbol is the hash symbol '#'
* The interpreter ignores everything after #
* Leave comments in your code to make it understandable to other team members and for yourself

In [13]:
# This line is ignored

In [14]:
# This is a multiline comment
# This line and the line above are both ignored by the interpreter

In [15]:
name_1 = 'John Wick'
name_2 = "Dag Heward-Mills"

In [16]:
# this is a string and not an integer
age = '2'

In [17]:
# Start with a double quote if you use a single quote in your string
f = "This is Del's pencil"
print(f)

In [18]:
# Start with a single quote if you use a double quote in your string
f = 'Francis said "This is my pencil"'
print(f)

Francis said "This is my pencil"

In [19]:
# Multi Line String
eg = """I am in the CEAS library in 
Introduction to Python session """

# can also be used as comments

### String Indexing
**Each character can be accessed by using their index starting from index 0**

In [21]:
name = 'Johnson Smith'

In [22]:
name[0]

'J'

In [23]:
name[-1]

'h'

### Slicing
**You can extract a range os characters**
<br>
Assume a string variable called **'var'**
<br>
**var[starting index : ending index + 1]**

In [24]:
name[0:6]

'Johnso'

In [25]:
len(name)

13

In [27]:
age = 3
str(age)

'3'

In [28]:
name.lower()

'johnson smith'

In [29]:
name.upper()

'JOHNSON SMITH'

In [30]:
name.isdigit()

False

In [31]:
name.isalpha()

False

In [32]:
name.replace('s','k')

'Johnkon Smith'

### String Concatenation
**Combining of strings is done by using the (+) operator between them**

In [33]:
string1 = 'My name is '
name = 'John'
string2 = string1 + name
print(string2)

My name is John

In [34]:
string1 = 'My name is '
name = 'John '
age = 16
string2 = string1 + name + 'I am ' + str(age) + ' years old'
print(string2)

My name is John I am 16 years old

#### Tip Calculator!!

Take input from the user the ***cost of meal, Tax, Tip percentage***.
Find the tax amount, cost after the tax, tip amount, and total cost