# Objectives


* **Introduction to Python**<br><br>

* **Hands-on**
 * Conditions
 * lists
 * Tuples
 * For Loop<br><br>

* **Future Topics**<br><br>

* **Helpful hints & resources**

### If and else Decision Blocks
#### If block 
* Consists of a Condition or Boolean expression followed by one or more statements.
* If the Condition or Boolean expression is **True**, then the statement(s) are executed. If **False**, then then the statement(s) are skipped

**if   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s)**

In [1]:
a = 5
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')

'a' is less than or equal to 5
This statement is also executed under the if block

In [2]:
if a <= 4:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
print('DONE')

DONE

**<h5><center>Note</center></h5>**

**Python Blocks**
* Every Python block like the **' if '** block is marked by a colon **' : '**
* All the statements under the block must be indented under the block
* Indentation must be consistent for each block and the whole python code

#### If..else blocks
* **' if '** block may be followed by an optional **' else '** block which executes when the Condition or Boolean expression is false
* If the Condition or Boolean expression is **True**, then the statement(s) 1 are executed. If **False**, then then the statement(s) 2 are executed
* The **' else '** block has no conditions attached
* There can be only one **' if '** block and one **' else '** block 

**if   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 1**
<br>
**else:**
<br>
$\;\;\;\;\;\;$**statement(s) 2**

In [3]:
a = 6
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
else:
    print('\'a\' must be greater than 5')
    print('This statement is also executed under the else block')
print('DONE')

'a' must be greater than 5
This statement is also executed under the else block
DONE

#### If..elif..else blocks

* **' if '** block may be followed by one or more optional **' elif '** (Else if) blocks and one optional **' else '** block
* The **' if '** block and **' elif '** blocks must have conditions attached. The **' else '** block has no conditions attached
* There can be only one **' if '** block and one **' else '** block. There can be more than one **' elif '** blocks. 
* If the Condition or Boolean expression under the **' if '** block is **False**, then the condition of the next **' elif '** block is examined. If **True**, the statement(s) 2 are executed. If **False**, the next **' elif '** block is examined until the statements under the **' else '** block are executed if an **' else '** block exists.  

**if   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 1**
<br>
**elif   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 2**
<br>
**elif   < condition >:**
<br>
$\;\;\;\;\;\;$**statement(s) 3**
<br>
**else:**
<br>
$\;\;\;\;\;\;$**statement(s) 4**

In [4]:
b = input('Type a number for \'b\': ')
a = float(b)
if a <= 5:
    print('\'a\' is less than or equal to 5')
elif a > 5 and a <= 8:
    print('\'a\' is greater than 5 and less than or equal to 8')
elif a > 8 and a <= 10:
    print('\'a\' is greater than 8 and less than or equal to 10')
else:
    print('\'a\' must be greater than 10')
print('DONE')

Type a number for 'b': 1
'a' is less than or equal to 5
DONE

# Exercise 2

Write the below program

A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

# Lists
* A datatype that can store a collection of different pieces of information as a sequence under a single variable name
* **Creating lists** - Put comma separated values within square brackets. Values can be of different data types

In [5]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

In [6]:
list1[0]

'physics'

In [7]:
list1[1][3]

'r'

In [8]:
list1[0:4]

['physics', 'astronomy', 56.98, 'MJ']

### List Concatenation
**Can be done by using the (+) operator between two lists**

In [9]:
[1,2,3] + [5,6,7]

[1, 2, 3, 5, 6, 7]

In [10]:
list1 + list2

['physics',
 'astronomy',
 56.98,
 'MJ',
 -9.36,
 'chemistry',
 'biology',
 77.98,
 [3, 4, 65],
 'EE',
 -56]

In [11]:
list3 = [3,4,67,2,1] 
list4 = ['3','4','67','2','1','four','three']

In [12]:
max(list3)

67

In [13]:
max(list4)

'three'

In [14]:
list4.append('two')
list4.append('three')
list4

['3', '4', '67', '2', '1', 'four', 'three', 'two', 'three']

In [15]:
list4.count('three')

2

In [16]:
list4.index('1')

4

In [17]:
## Insert
list4.insert(3,56)
list4

['3', '4', '67', 56, '2', '1', 'four', 'three', 'two', 'three']

**Delete object**

*By Index position*

In [18]:
list4.pop(3)

56

In [19]:
list4.remove('67')

In [20]:
list4.reverse()
list4

['three', 'two', 'three', 'four', '1', '2', '4', '3']

**<h5><center>Note</center></h5>**

**Lists are "MUTABLE"**

# Tuples
**Tuples are sequences, just like lists except**
* Tuples are immutable - cannot be changed or updated like lists
* Tuples use parentheses ( ), whereas lists use square brackets [ ]

In [21]:
tup = (3,4,67,2,1)

**tup[2] = 8**
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-177-256383ac5724 > in < module >()
<br>
----> 1 tup[2] = 8
<br>
TypeError: 'tuple' object does not support item assignment

### For Loop
* Each item in the sequence is assigned to the iterating variable and the statements are executed for each item until the entire sequence is exhausted.
  
  **for < iterating variable > in < sequence > :**
  
  $\;\;\;\;\;\;$**statement(s)**

In [22]:
for var in 'string':
    print(var)

s
t
r
i
n
g

In [23]:
k = 'string'
for var in k:
    print(var.upper())

S
T
R
I
N
G

In [24]:
list1 = ['banana','orange','mango']
for fruit in list1:
    print(fruit)

banana
orange
mango

In [25]:
for num in (2,4,1,34,5):
    print(num)

2
4
1
34
5

**<h5><center>Note</center></h5>**


**Range function**
The **range** function generates a list of numbers
* **range ( num )** - generates a list of numbers from **0** to **'num - 1'**
* **range ( start , limit )** - generates a list of numbers from **'start'** to **'limit - 1'**
* **range ( start , limit , increment )** - generates a list of numbers from **'start'**, incrementing by **'increment'** until a number less or equal to **'limit - 1'**

In [26]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [27]:
for num in range(-6,6):
    print(num)

-6
-5
-4
-3
-2
-1
0
1
2
3
4
5

In [28]:
for num in range(-10,-100,-30):
    print(num)

-10
-40
-70

In [29]:
for num in range(0,20,4):
    print(num)

0
4
8
12
16

#### For..else loop blocks
* A feature very unique to Python just like **'while..else'** block
* The **'else'** block executes when the loop exits normally
* The **'else'** block does not execute when the loop exits as a result of a break

In [30]:
fruits = ['banana','apple','orange','tomato','pear']
print('You have...')
for f in fruits:
    if f == 'tomato':
        print('tomato is not a fruit!')
        break
    print(f)
else:
    print('A fine selection of fruits!')

You have...
banana
apple
orange
tomato is not a fruit!